body{
    width: 100%;
}

#myModal{

}

.modal-body{
    padding-top: 0;
}

.modal-footer{
    margin-top: 0;
}

.close{
    padding-top: 0;
}

#user_username{
    margin-top: 25px;
}

#user_password{
    margin-bottom: 15px;
}

#drodo{
    text-align: right;
}

#navbarstyle{
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    margin-bottom:0;
}

#uploadbtn{
    width: 100%;
}

#butup{
    width: 50%;
    color: white;
    background-color: #17E8DE;
    height: 40px;
}

.container{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
