body{
    width: 100%;
}

#myModal{

}

.modal-body{
    padding-top: 0;
}

.modal-footer{
    margin-top: 0;
}

.close{
    padding-top: 0;
}

#user_username{
    margin-top: 25px;
}

#user_password{
    margin-bottom: 15px;
}

#drodo{
    text-align: right;
}

#navbarstyle{
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    margin-bottom:0;
}

#uploadbtn{
    width: 100%;
    text-align: center;
}

#butup{
    width: 50%;
    color: white;
    background-color: #9fbcb6;
    height: 40px;
    border: solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#butup2{
    width: 50%;
    color: white;
    background-color: #9fbcb6;
    height: 40px;
    border: solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 0;

}

#butbutbut{
    text-align: right;
}


#modbodthumb{
    padding-top: 15px;
}

#picsetfoot{
    background-color: #9fbcb6;
    border: none;
    color: #ffffff;
}

.container{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.butbut{
    text-align: center;
}

.img-responsive{
    width: 30px; height: 30px !important;
}

